
/RuleExtraction/yolov7
/RuleExtraction/__pycache__
/RuleExtraction/__pycache__
/real_video
/RuleExtraction/openpose-master
/RuleExtraction/ViTPose-main
/4D-Humans
/RuleExtraction/mmcv
/RuleExtraction/openpose
/RuleExtraction/ViTPose
